//fade black to white background
.root{
   -fx-background-color: linear-gradient(#FFFFFF, #000000);
}
.label{
   -fx-font-size: 30;
   -fx-text-fill: #ffffff;
   -fx-wrap-text: "true";
   -fx-text-alignment: "CENTER";
}
.label-upTop{
   -fx-font-size: 23;
   -fx-text-fill: #b3b6b7;
}
.button{
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
    -fx-background-color: #424949;
}
.label-title{
    -fx-font-size: 50;
}
.text-field{
    -fx-background-color:rgba(255, 255, 255, .0);
    -fx-text-inner-color: #3d7889;
}
.theme-manager{
    -fx-text-fill: #b3b6b7;
    -fx-background-color: rgba(255, 255, 255, .0);
}
